<p id="notice"><%= notice %></p>

<p>
  <strong>Node1:</strong>
  <%= @light_reading.node1 %>
</p>

<p>
  <strong>Node2:</strong>
  <%= @light_reading.node2 %>
</p>

<p>
  <strong>Node3:</strong>
  <%= @light_reading.node3 %>
</p>

<p>
  <strong>Node4:</strong>
  <%= @light_reading.node4 %>
</p>

<p>
  <strong>Node5:</strong>
  <%= @light_reading.node5 %>
</p>

<p>
  <strong>Node6:</strong>
  <%= @light_reading.node6 %>
</p>

<p>
  <strong>Node7:</strong>
  <%= @light_reading.node7 %>
</p>

<p>
  <strong>Node8:</strong>
  <%= @light_reading.node8 %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @light_reading.temp %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @light_reading.garden_id %>
</p>

<%= link_to 'Edit', edit_light_reading_path(@light_reading) %> |
<%= link_to 'Back', light_readings_path %>
