<%= form_with(model: water_reading, local: true) do |form| %>
  <% if water_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(water_reading.errors.count, "error") %> prohibited this water_reading from being saved:</h2>

      <ul>
      <% water_reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :node1 %>
    <%= form.number_field :node1, id: :water_reading_node1 %>
  </div>

  <div class="field">
    <%= form.label :node2 %>
    <%= form.number_field :node2, id: :water_reading_node2 %>
  </div>

  <div class="field">
    <%= form.label :node3 %>
    <%= form.number_field :node3, id: :water_reading_node3 %>
  </div>

  <div class="field">
    <%= form.label :node4 %>
    <%= form.number_field :node4, id: :water_reading_node4 %>
  </div>

  <div class="field">
    <%= form.label :node5 %>
    <%= form.number_field :node5, id: :water_reading_node5 %>
  </div>

  <div class="field">
    <%= form.label :node6 %>
    <%= form.number_field :node6, id: :water_reading_node6 %>
  </div>

  <div class="field">
    <%= form.label :node7 %>
    <%= form.number_field :node7, id: :water_reading_node7 %>
  </div>

  <div class="field">
    <%= form.label :node8 %>
    <%= form.number_field :node8, id: :water_reading_node8 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
