<p id="notice"><%= notice %></p>

<p>
  <strong>Node1:</strong>
  <%= @water_reading.node1 %>
</p>

<p>
  <strong>Node2:</strong>
  <%= @water_reading.node2 %>
</p>

<p>
  <strong>Node3:</strong>
  <%= @water_reading.node3 %>
</p>

<p>
  <strong>Node4:</strong>
  <%= @water_reading.node4 %>
</p>

<p>
  <strong>Node5:</strong>
  <%= @water_reading.node5 %>
</p>

<p>
  <strong>Node6:</strong>
  <%= @water_reading.node6 %>
</p>

<p>
  <strong>Node7:</strong>
  <%= @water_reading.node7 %>
</p>

<p>
  <strong>Node8:</strong>
  <%= @water_reading.node8 %>
</p>

<%= link_to 'Edit', edit_water_reading_path(@water_reading) %> |
<%= link_to 'Back', water_readings_path %>
