<p id="notice"><%= notice %></p>

<h1>Gardens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gardens.each do |garden| %>
      <tr>
        <td><%= garden.name %></td>
        <td> <%= garden.id %></td>
        <td><%= link_to 'Register a garden',register_garden_path(@user,:id => garden.id) %></td>
        <td><%= link_to 'Remove Garden', garden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Create Garden', new_garden_path %>
