<p id="notice"><%= notice %></p>


<strong>Water Readings</strong>
<table>
  <thead>
    <tr>
      <th>Time of Reading</th>
      <th>Node 1</th>
      <th>Node 2</th>
      <th>Node 3</th>
      <th>Node 4</th>
      <th>Node 5</th>
      <th>Node 6</th>
      <th>Node 7</th>
      <th>Node 8</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @garden.water_reading.take(200).reverse.each do |reading| %>
      <tr>
        <td><%= reading.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m-%d-%Y %l:%M %p") %></td>
        <td><%= reading.node1 %></td>
        <td><%= reading.node2 %></td>
        <td><%= reading.node3 %></td>
        <td><%= reading.node4 %></td>
        <td><%= reading.node5 %></td>
        <td><%= reading.node6 %></td>
        <td><%= reading.node7 %></td>
        <td><%= reading.node8 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
<%= link_to 'View All Readings', water_readings_path %>
<%= link_to 'New Reading',new_water_reading_path(@garden) %>