<p id="notice"><%= notice %></p>

<h1>Readings</h1>

<table id = readings_table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Moisture</th>
      <th>Light</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.time %></td>
        <td><%= reading.moisture %></td>
        <td><%= reading.light %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_reading_path %>
