<p id="notice"><%= notice %></p>

<h1>Water Readings</h1>

<table>
  <thead>
    <tr>
      <th>Reading at</th>
      <th>Node1</th>
      <th>Node2</th>
      <th>Node3</th>
      <th>Node4</th>
      <th>Node5</th>
      <th>Node6</th>
      <th>Node7</th>
    </tr>
  </thead>

  <tbody>
    <% @water_readings.each.reverse_each do |water_reading| %>
      <tr>
        <td><%= water_reading.created_at.in_time_zone("Central Time (US & Canada)").strftime("%m-%d-%Y %l:%M %p") %></td>
        <td><%= water_reading.node1 %></td>
        <td><%= water_reading.node2 %></td>
        <td><%= water_reading.node3 %></td>
        <td><%= water_reading.node4 %></td>
        <td><%= water_reading.node5 %></td>
        <td><%= water_reading.node6 %></td>
        <td><%= water_reading.node7 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Export Readings to excel spreadsheet', water_readings_path(format: "xlsx"),:class => 'button' %>
<%= link_to 'Back',gardens_path,:class => 'button' %>
