<!DOCTYPE html>
<html>
  <head>
    <title>DirtData</title>
    <% if signed_in? %>
      <a>Signed in as <%= current_user.email %></a>
      <%= link_to 'log out', destroy_user_session_path, method: :delete,:class => 'button' %>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
